.search-form {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: grey;
    padding: 10px 0;
}

input {
    outline: none;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.info {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 1%;
}

.load-more {
    margin: 20px auto;
}